@charset "utf-8";

/* 스킵 메뉴 */
#skip {position: relative;}
#skip a {position: absolute; left: 50%; top: -30px; z-index: 9999; transform: translateX(-50%); width: 200px; height: 20px; background: #c52227; color: #fff; text-align: center; line-height: 20px;}
#skip a:active,
#skip a:focus {top: 0;}

/* 메인 컨텐츠 가운데 영역 */
.container {width: 1200px; margin: 0 auto;}
.row {max-width: 1600px; margin: 0 auto;}

/* 타이포그래피 */

/* font-famliy
font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
body {font-size: 13px; color: #666; line-height: 1;}
.cont_tit {font-size: 38px; color: #111; font-weight: 400; text-align: center;}
.cont_sub_tit {}

/* 버튼 공통 스타일 */
.btn {display: inline-block; height: 38px; border-radius: 38px; font-size: 13px; color: #fff; text-align: center; line-height: 38px; vertical-align: middle;}
.btn.type1 {width: 192px; background: rgba(255,255,255,0.2); transition: all 0.4s;}
.btn.type1:hover {background: rgba(255,255,255,0.4);}
.btn.type2 {margin-left: 10px; width: 38px;}
.btn.more {padding: 0 40px; width: auto; height: 46px; border-radius: 46px; font-size: 15px; line-height: 46px;}

/* 퀵 메뉴 */
#side-bar {position: fixed; right: 15px; top: 55%; z-index: 99; transform: translateY(-55%); opacity: 0; transition: 0.8s;}
#side-bar.active {top: 50%; opacity: 1;}
#side-bar ul {background: #1e2f90; border-radius: 70px;}
#side-bar li {position: relative;}
#side-bar li:after {content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 50%; height: 1px; background: rgba(255,255,255,0.2);}
#side-bar li:first-child {padding-top: 15px;}
#side-bar li a {display: table; width: 70px; height: 98px; text-align: center;}
#side-bar li:last-child a {height: 50px;}
#side-bar li a p {display: table-cell; vertical-align: middle; color: #fff; font-weight: 300; letter-spacing: -1px;}
#side-bar li a p i {margin-bottom: 7px; margin-left: 8px;}

/* Header */
#header {position: absolute; width: 100%; z-index: 10;}
#header .row {padding: 0 15px; box-sizing: border-box;}

header .logo {float: left;}
header .logo a {display: block; margin-top: 30px; width: 193px; height: 55px;}
header .util {float: right; position: relative; margin-top: 60px; font-size: 0;}
header .util .lang {background-image: linear-gradient(120deg, #04a0e0 0%, #0976bb 100%);}
header .util .lang .lang_tit {position: relative; z-index: 1; font-size: 20px; color: #fff; vertical-align: -3px;}
header .util .lang ul {margin-top: -38px; padding-top: 30px; background-image: linear-gradient(150deg, #04a0e0 0%, #058fd1 50%, #0976bb 100%); border-radius: 38px; height: 0; opacity: 0; transition: all 0.3s;}
header .util .lang ul.active {height: 200%; opacity: 1;}
header .util .lang li a {display: block; font-size: 11px; color: #fff;}
header .util .sitemap {position: relative; background-image: linear-gradient(120deg, #f7636d 0%, #fd9f6e 100%);}
header .util .sitemap .line {display: block; position: relative; left: 50%; top: 12px; transform: translateX(-50%); width: 15px; height: 2px; background: #fff;}
header .util .sitemap .line:before,
header .util .sitemap .line:after {content: ""; position: absolute; left: 0; width: 15px; height: 2px; background: #fff;}
header .util .sitemap .line:before {bottom: -6px;}
header .util .sitemap .line:after {bottom: -12px;}
header .util .sns {background-image: linear-gradient(120deg, #3959a6 0%, #2b4381 100%); font-size: 16px;}

/* GNB */
#gnb > ul {margin-left: 290px;}
#gnb > ul > li {float: left;}
#gnb > ul > li:after {content: ""; display: inline-block; width: 1px; height: 11px; background: rgba(255,255,255,0.5); vertical-align: -3px;}
#gnb > ul > li:last-child:after {width: 0;}
#gnb > ul > li > a {display: inline-block; padding: 0 30px; height: 150px; font-size: 16px; color: #fff; font-weight: 500; letter-spacing: -0.55px; line-height: 150px;}
#gnb > ul > li > a:hover {color: #00aceb;}

/* GNB 2dep Menu */
#gnb li .gnb_box {display: none; position: absolute; left: 0; z-index: 20; padding: 65px 0; width: 100%; background: url(../images/gnb_2dep_bg.jpg) repeat-y center top; border-radius: 0 0 20px 20px;}
#gnb li:hover .gnb_box {display: block;}
#gnb li .gnb_box .desc {float: left; width: 340px; background: #f4f4f4;}
#gnb li .gnb_box .desc h2 {padding-bottom: 22px; font-size: 30px; color: #111; font-weight: 400; letter-spacing: -0.5px;}
#gnb li .gnb_box .desc h2:after {content: ""; display: inline-block; margin-left: 20px; width: 23px; height: 23px; background: url(../images/gnb_2dep_desc_icon.png) no-repeat; vertical-align: middle;}
#gnb li .gnb_box .desc p {padding-bottom: 38px; font-size: 17px; line-height: 26px; letter-spacing: -0.75px;}
#gnb li .gnb_box .desc .solution {background: #fff; color: #273aa8; box-shadow: 3px 3px 0 rgba(0,0,0,.15);}
#gnb li .gnb_box .dep2 {margin-left: 33%; width: 65%;}
#gnb li .gnb_box .dep2 > li {float: left; width: 20%;}
#gnb li .gnb_box .dep2 > li > a {display: block; font-size: 18px; color: #999; font-weight: 500; letter-spacing: -0.75px; transition: all 0.2s;}
#gnb li .gnb_box .dep2 > li:hover > a {color: #333;}
#gnb li .gnb_box .dep2 li .dep3 {padding-top: 23px;}
#gnb li .gnb_box .dep2 li .dep3 li {padding-bottom: 16px;}
#gnb li .gnb_box .dep2 li .dep3 li a {display: block; font-size: 15px; color: #555; font-weight: 300; letter-spacing: -0.75px; transition: all 0.2s;}
#gnb li .gnb_box .dep2 li .dep3 li a:before {content: ""; display: inline-block; margin-right: 7px; width: 2px; height: 2px; background: #777; vertical-align: 5px; transition: all 0.2s;}
#gnb li .gnb_box .dep2 li .dep3 li:hover a {color: #00aceb;}
#gnb li .gnb_box .dep2 li .dep3 li:hover a:before {background: #00aceb;}

/* Visual */
#visual {position: relative; height: 735px; background-image: linear-gradient(to bottom, #183b7f 0%, #5451a6 100%);}

.visual_content {position: absolute; left: 0; top: 40%; width: 100%; color: #fff;}
.visual_content .row {max-width: 1300px;}
.visual_content .cont_box {overflow: hidden; position: absolute; opacity: 0; transition: opacity 0.3s linear;}
.visual_content .cont_box.on {opacity: 1;}
.visual_content .cont_box h3 {}
.visual_content .cont_box h3 span {display: block; font-size: 38px; line-height: 50px; letter-spacing: -0.75px;}
.visual_content .cont_box p {padding: 33px 0 63px; font-size: 18px; color: rgba(255,255,255,0.8); letter-spacing: -0.75px;}
.visual_content .cont_box p:before {content: ""; display: inline-block; margin-right: 10px; width: 25px; height: 3px; background: rgba(255,255,255,0.8); vertical-align: 4px;}
.visual_content .cont_box .more {font-weight: 600;}

.visual_content .cont_box h3 span,
.visual_content .cont_box p,
.visual_content .cont_box .more {
	opacity: 0;
	transform: translateX(-50px);
	transition: opacity 1s, all 1s;
}
.visual_content .cont_box h3 span:first-child {transition-delay: 0.5s;}
.visual_content .cont_box h3 span:last-child {transition-delay: 0.7s;}
.visual_content .cont_box p {transition-delay: 0.9s;}
.visual_content .cont_box .more {transition-delay: 1.1s;}

.visual_content .cont_box.on h3 span,
.visual_content .cont_box.on p,
.visual_content .cont_box.on .more {
	opacity: 1;
	transform: translateX(0px);
}

.visual_img {position: absolute; left: 50%; top: 160px; bottom: -16px; margin-left: -180px; width: 854px; height: 590px;}
.visual_img > div {position: absolute;
	opacity: 0; visibility: hidden;
	transform: scale(0.8);
	transition: opacity 1s, all 1s;
}
.visual_img.on > div {
	opacity: 1; visibility: visible;
	transform: scale(1);
}
.visual_img > div.img01 {right: 28px; top: 0; transform: translateY(35px);}
.visual_img > div.img02 {right: 223px; top: 7px; transform: translateY(35px);}
.visual_img > div.img03 {left: 153px; bottom: 150px;}
.visual_img > div.img04 {left: 0; bottom: 35px; transform: translateY(35px);}
.visual_img > div.img05 {right: 0; top: 95px;}
.visual_img > div.img06 {right: 235px; bottom: 170px;}
.visual_img > div.img07 {left: 185px; bottom: 0;}
.visual_img > div.img08 {right: 25px; bottom: 200px; transform: translateY(35px);}
.visual_img > div.img09 {right: 118px; bottom: 35px; transform: translateY(35px);}

.visual_img.on > div.img03,
.visual_img.on > div.img05,
.visual_img.on > div.img06,
.visual_img.on > div.img07 {transition-delay: 0.3s;}
.visual_img.on > div.img01 {transition-delay: 0.6s; transform: translateY(0);}
.visual_img.on > div.img04 {transition-delay: 0.9s; transform: translateY(0);}
.visual_img.on > div.img08 {transition-delay: 1.2s; transform: translateY(0);}
.visual_img.on > div.img02 {transition-delay: 1.5s; transform: translateY(0);}
.visual_img.on > div.img09 {transition-delay: 1.8s; transform: translateY(0);}

/* Product */
.product {padding: 123px 0 138px; text-align: center;}
.product h2 {padding-bottom: 80px;}
.product ul {}
.product li {float: left; width: 25%; border-right: 1px dashed #d9d9d9; box-sizing: border-box;}
.product li:last-child {border-right: none;}
.product li a {display: block; padding-top: 200px; background: no-repeat center top;}
.product li:nth-child(1) a {background-image: url(../images/main_prd_img01.png);}
.product li:nth-child(2) a {background-image: url(../images/main_prd_img02.png);}
.product li:nth-child(3) a {background-image: url(../images/main_prd_img03.png);}
.product li:nth-child(4) a {background-image: url(../images/main_prd_img04.png);}
.product li a p {display: block; padding-bottom: 30px; font-size: 20px; color: #23359d; font-weight: 600; letter-spacing: -0.65px;}

.product li a .more {overflow: hidden; position: relative; padding: 0; width: 155px; color: #354cd8; transition: all 0.3s;}
.product li a .more:before {content: ""; position: absolute; left: -100%; z-index: -1; width: 100%; height: 100%; background-image: linear-gradient(to right, rgba(255,90,111,1) 0%, rgba(255,172,11,1) 100%); border-radius: 46px; opacity: 0; transition: all 0.3s;}
.product li a .more:after {content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 2px solid #344bd4; border-radius: 46px; transition: all 0.3s;}
.product li a:hover .more {color: #fff;}
.product li a:hover .more:before {left: 0; opacity: 1;}
.product li a:hover .more:after {opacity: 0; visibility: hidden;}

/* News */
.news {position: relative; padding: 72px 0 95px; background-image: linear-gradient(to bottom, #ededed 65%, #fff 35%);}
.news .tit_box {display: inline-block; padding-bottom: 50px;}
.news .tit_box h2 {font-size: 38px; font-weight: 600; line-height: 37px;}
.news .tit_box p {padding: 10px 0 50px;font-size: 17px; letter-spacing: -0.75px;}
.news .tit_box .more {display: block; padding-left: 132px; font-size: 14px; font-weight: 600; letter-spacing: -0.5px; transition: all 0.3s;}
.news .tit_box .more:before {content: ""; display: inline-block; margin-right: 15px; width: 93px; height: 2px; background: #3c3c3c; vertical-align: middle;}
.news .tit_box .more:hover {padding-left: 145px;}

.news ul {float: left; width: 50%;}
.news li a {display: block;}
.news li a .img_box {}
.news li a p {padding-top: 30px; font-size: 21px; font-weight: 500; letter-spacing: -0.5px;}
.news li:hover a p {color: #23359d;}
.news .big-slide li a .thumb {overflow: hidden; width: 555px; height: 380px; box-shadow: 10px 10px 16px rgba(0,0,0,0.19);}
.news .small-slide li {padding-right: 10px; width: 50%; box-sizing: border-box;}
.news .small-slide li a .thumb {overflow: hidden; height: 200px; box-shadow: 5px 5px 9px rgba(0,0,0,0.17);}

.news .slick-arrow {position: absolute; left: 0; top: -80px; z-index: 10; width: 47px; height: 47px; background: none; border: 1px solid #c7c7c7; text-indent: -9999px; text-align: center; line-height: 47px;}
.news .slick-prev {}
.news .slick-next {left: 46px;}

/* Notice */
.notice {position: relative; padding: 105px 0 90px;}
.notice h2 {padding-bottom: 50px;}
.notice ul {}
.notice li {margin: 60px 30px; padding: 42px 33px; max-width: 255px; background: #f9f9f9; border-radius: 10px; letter-spacing: -0.5px; opacity: 0.6; transform: translateY(0); box-shadow: 0 13px 15px rgba(0,0,0,0.15); transition: 0.8s;}
.notice li.slick-current {opacity: 1; transform: translateY(-30px); box-shadow: 0 29px 32px rgba(0,0,0,0.2);}
.notice li h3 {padding-bottom: 25px; font-size: 0;}
.notice li h3 .tag {display: inline-block; margin-right: 10px; padding: 0 5px; height: 23px; background: #00aceb; border-radius: 23px; font-size: 12px; color: #fff; line-height: 23px;}
.notice li h3 strong {overflow: hidden; display: inline-block; width: 83%; font-size: 19px; font-weight: 400; line-height: 23px; vertical-align: bottom; text-overflow: ellipsis; white-space: nowrap;}
.notice li p {overflow: hidden; max-height: 96px; min-height: 96px; font-size: 14px; color: #666; line-height: 24px;}
.notice li .more {display: block; padding-top: 28px; font-size: 13px; color: #00aceb; transition: all 0.3s;}
.notice li:hover .more {padding-left: 15px;}

.notice .control {position: absolute; left: 50%; top: 100px;}
.notice .control a {position: absolute; display: block; width: 48px; height: 48px; background: #fff; border: 1px solid #d2d2d2; text-align: center; line-height: 48px;}
.notice .control a.prev {margin-left: -257px;}
.notice .control a.next {margin-left: 208px;}

/* Footer */
#footer {}

/* Info Banner */
footer .info_ban {overflow: hidden; display: flex;}
footer .info_ban a {flex: 1; padding: 45px 110px 40px; background: no-repeat center / cover; font-size: 24px; color: #fff; letter-spacing: -0.75px; transition: all 0.4s;}
footer .info_ban a:first-child {background-image: url(../images/footer_banner_img01.jpg);}
footer .info_ban a:last-child {background-image: url(../images/footer_banner_img02.jpg);}
footer .info_ban a:hover {transform: scale(1.05);}
footer .info_ban a:after {content: ""; display: block; margin-top: 22px; width: 28px; height: 28px; border: 1px solid #fff; border-radius: 50%; font-size: ; color: #fff; text-align: center; line-height: 28px;}

/* Site Map(footer) */
footer .sitemap {padding: 70px 0;}
footer .sitemap > ul {display: flex;}
footer .sitemap > ul > li {flex: auto; padding: 0 25px; height: 185px; border-left: 1px solid #ededed; box-sizing: border-box;}
footer .sitemap > ul > li h3 {font-size: 18px; color: #333; font-weight: 600; line-height: 36px;}
footer .sitemap > ul > li:last-child a {display: block; margin: 20px 0;width: 30px; height: 30px; border: 1px solid #b4b4b4; border-radius: 100%; font-size: 18px; color: #333; font-weight: 600; text-align: center; line-height: 30px;}
footer .sitemap li .dep2 {}
footer .sitemap li .dep2 > li {}
footer .sitemap li:first-child .dep2 > li {float: left; width: 50%;}
footer .sitemap li .dep2 > li > a {display: block; font-size: 14px; color: rgba(0,0,0,0.7); line-height: 30px; letter-spacing: -0.25px; transform: 0.3s;}
footer .sitemap li .dep2 > li > a:before {content: ""; display: inline-block; margin-right: 10px; width: 2px; height: 2px; background: #646464; vertical-align: 4px;}
footer .sitemap li .dep2 > li:hover > a {color: #23359d;}
footer .sitemap li .dep2 li .dep3 {}
footer .sitemap li .dep2 li .dep3 li {}
footer .sitemap li .dep2 li .dep3 li a {display: block; padding-left: 12px; color: rgba(0,0,0,0.5); line-height: 22px; letter-spacing: -0.5px;}
footer .sitemap li .dep2 li .dep3 li:hover a {color: #00aceb;}

/* Footer Content */
footer .foot-content {padding: 30px 0; background: #f4f4f4;}
footer .foot-content h2 {display: inline-block; padding-bottom: 15px; width: 213px;}
footer .foot-content ul {display: inline-block; padding: 40px 20px 22px;}
footer .foot-content li {float: left; position: relative; padding-right: 26px;}
footer .foot-content li:after {content: ""; position: absolute; right: 11px; top: 50%; transform: translateY(-50%); width: 4px; height: 4px; background: #303030;}
footer .foot-content li:last-child:after {width: 0;}
footer .foot-content li a {display: block; font-size: 16px; color: #333; letter-spacing: -0.5px;}
footer .foot-content address {font-size: 14px; color: rgba(51,51,51,0.8); line-height: 24px;}
footer .foot-content address span {padding-left: 15px;}
footer .foot-content p {font-size: 12px; color: rgba(51,51,51,0.5); line-height: 24px;}
footer .foot-content .copy {font-size: 13px; color: #333; line-height: 24px;}
footer .foot-content .copy em {color: #273baa;}



